#game-name {
  text-align: center;
  font-size: 24px;
}

#play {
    height: 20px;
    width: 50px;
    margin: auto;
    background-color: lightgreen;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 10px;
}
#games-played {
    height: 10px;
    width: 200px;
    margin: auto;
    margin-bottom: 10px;
}
.tile {
  height: 50px;
  width: 50px;
  border-radius: 10px;
  border: 1px solid black;
  margin: 1px 0px 1px 0px;
  position: relative;
  float: left;
}
.number {
  position: absolute;
  bottom: 0px;
  right: 0px;
}
.label {
  position: absolute;
  margin: 5px;
}
.link {
  height: 10px;
  width: 10px;
  border-radius: 0px;
  background-color: black;
  margin-top: 30px;
}
.link-vertical {
  margin: auto;
  width: 310px;
  height: 20px;
  position: relative;
}
.link-vr {
  height: 20px;
  width: 10px;
  border-radius: 0px;
  background-color: black;
  position: absolute;
  margin-left: 285px;
}
.link-vl {
  height: 20px;
  width: 10px;
  border-radius: 0px;
  background-color: black;
  position: absolute;
  margin-left: 15px;
}
#first-row {
  height: 50px;
  width: 310px;
  margin: auto;
}
#second-row {
  height: 50px;
  width: 310px;
  margin: auto;
}
#second-row .main-tile{
    float: right;
}
#second-row .link {
    float: right;
}
#third-row {
  height: 50px;
  width: 310px;
  margin: auto;
}
#fourth-row {
  height: 50px;
  width: 310px;
  margin: auto;
}
#fourth-row .main-tile{
    float: right;
}
#fourth-row .link {
    float: right;
}
#fifth-row {
  height: 50px;
  width: 310px;
  margin: auto;
}
.far {
  background-color: yellow;
}
#sequence {
    width: 400px;
    height: 80px;
    margin: auto;
    margin-top: 10px;
}
#answer {
  width: 400px;
  height: 80px;
    margin: auto;
    margin-top: 10px;
}
.click-tile {
  height: 50px;
  width: 50px;
  border-radius: 10px;
  border: 1px solid black;
  margin-left: 10px;
  margin-top: 20px;
  float: left;
}
#one {
  background-color: red;
}
#two {
  background-color: blue;
}
#three {
  background-color: green;
}
#four {
  background-color: yellow;
}

#answer-box {
  height: 50px;
  width: 100px;
  text-align: center;
  font-size: 24px;
  color: purple;
  margin: auto;
}
#tap-sequence {
  width: 120px;
  padding-top: 10px;
  height: 40px;
  text-align: center;
}
#your-answer {
  width: 120px;
  padding-top: 10px;
  height: 40px;
  text-align: center;
}
#answer-one {
    font-size: 0;
}
#answer-two {
    font-size: 0;
}
#answer-three {
    font-size: 0;
}
#answer-four {
    font-size: 0;
}
