#game-name {
  font-size: 32px;
  font-weight: 900;
  width: 360px;
  height: 40px;
  margin: auto;
  position: relative;
}
.mini-tile {
    width: 40px;
    height: 30px;
    float: left;
    border: 2px solid black;
    border-radius: 8px;
    position: absolute;
    padding-bottom: 3px;
}
/*The title is spelt out in large letters on their own tiles (see mini-tile above*/
#bigO {
    color: red;
    background-color: yellow;
    margin-left: 0px;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
}
#bigU {
    color: blue;
    background-color: yellow;
    margin-left: 50px;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
}
#bigT {
    color: green;
    background-color: yellow;
    margin-left: 100px;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
}
#bigR {
    color: red;
    background-color: yellow;
    margin-left: 150px;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
}
#big-U {
    color: blue;
    background-color: yellow;
    margin-left: 200px;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
}
#bigN {
    color: green;
    background-color: yellow;
    margin-left: 250px;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
}
#big-arrow {
    margin-left: 300px; 
    padding-top: 10px; 
    padding-bottom: 2px; 
}
#game-controls {
    height: 40px;
    width: 200px;
    margin: auto;
}
/*Play button allows the player to start a new game*/
#play {
    height: 40px;
    width: 60px;
    margin-top: 10px;
    background-color: lightgreen;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 5px;
    text-transform: uppercase;
    border: 2px solid black;
    float: left;
}
#hard-mode {
    height: 18px;
    width: 100px;
    text-align: center;
    margin-top: 10px;
    padding-top: 2px;
    float: right;
    background-color: yellow;
    border-radius: 5px;
    border: 2px solid black;
}
#reset {
    height: 18px;
    width: 100px;
    text-align: center;
    margin-top: 2px;
    float: right;
    background-color: orange;
    border-radius: 5px;
    border: 2px solid black;
}
#games-played {
    height: 30px;
    width: 200px;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 30px;
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
}
#main-board {
    margin: auto;
    margin-top: 20px;
}
.tile {
  height: 40px;
  width: 40px;
  border-radius: 8px;
  border: 2px solid black;
  position: relative;
  float: left;
  background-color: white;
}
/*All the board game tiles are numbered*/
.number {
  position: absolute;
  bottom: 0px;
  right: 0px;
}
.number-large {
  position: absolute;
  bottom: 0px;
  right: 0px;
  font-size: 12px;
}
/*Start and finish are labelled on the board game*/
.label {
  position: absolute;
  margin: 2px;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 700;
}
/*The board game tiles are linked to show the player where they are heading*/
.link {
  height: 10px;
  width: 10px;
  border-radius: 0px;
  background-color: black;
  margin-top: 15px;
}
/*Vertical link between tiles, right side(link-vr) or left side(link-vl)*/
.link-vertical {
  margin: auto;
  width: 280px;
  height: 15px;
  position: relative;
}
.link-vr {
  height: 12px;
  width: 10px;
  border-radius: 0px;
  background-color: black;
  position: absolute;
  margin-left: 245px;
  margin-top: 3px;
}
.link-vl {
  height: 12px;
  width: 10px;
  border-radius: 0px;
  background-color: black;
  position: absolute;
  margin-left: 15px;
  margin-top: 3px;
}
/*Rows of the board game tiles*/
#first-row {
  height: 40px;
  width: 280px;
  margin: auto;
}
#second-row {
  height: 40px;
  width: 280px;
  margin: auto;
}
/*Allows tile order to go from right to left on second row*/
#second-row .main-tile{
    float: right;
}
#second-row .link {
    float: right;
}
#third-row {
  height: 40px;
  width: 280px;
  margin: auto;
}
#fourth-row {
  height: 40px;
  width: 280px;
  margin: auto;
}
/*Allows tile order to go from right to left on fourth row*/
#fourth-row .main-tile{
    float: right;
}
#fourth-row .link {
    float: right;
}
#fifth-row {
  height: 40px;
  width: 280px;
  margin: auto;
}
/*Background colour of star representing player*/
.far {
  background-color: yellow;
}
/*Row of coloured tiles to tap/ click*/
#sequence {
    width: 400px;
    height: 40px;
    margin: auto;
    margin-top: 10px;
}

/*Row of coloured tiles to show answer*/
#answer {
  width: 400px;
  height: 40px;
    margin: auto;
    margin-top: 10px;
}
.click-tile {
  height: 40px;
  width: 40px;
  border-radius: 8px;
  border: 2px solid black;
  margin-left: 10px;
  margin-top: 20px;
  float: left;
}
.click-tile-answer {
  height: 40px;
  width: 40px;
  border-radius: 8px;
  border: 2px solid black;
  margin-left: 10px;
  margin-top: 20px;
  float: left;
}
/*coloured tiles to tap/ click*/
#one {
  background-color: red;
}
#two {
  background-color: blue;
}
#three {
  background-color: green;
}
#four {
  background-color: yellow;
}
#tap-sequence {
  width: 120px;
  padding-top: 10px;
  height: 30px;
  text-align: center;
  background-color: white;
}
#your-answer {
  width: 120px;
  padding-top: 10px;
  height: 30px;
  text-align: center;
  position: relative;
  background-color: white;

}
/*Tiles to show sequence clicked/ tapped*/
/*Tally of clicks/ taps*/
#answer-one {
    font-size: 0;
    background-color: white;
}
#answer-two {
    font-size: 0;
    background-color: white;
}
#answer-three {
    font-size: 0;
    background-color: white;
}
#answer-four {
    font-size: 0;
    background-color: white;
}
#your-ans {
    font-size: 0;
}
/*The answer box shows messages such as 'Well done!' or 'Better luck next time...'*/
#answer-box {
  height: 35px;
  width: 350px;
  text-align: center;
  font-size: 24px;
  font-style: italic;
  color: blue;
  float: none;
  margin: auto;
  border: 2px solid black;
  border-radius: 8px;
  position: absolute;
  margin-top: 100px;
  padding-top: 5px;
  background-color: white;
}
#instructions {
    float: left;
    font-size: 14px;
    color: red;
    background-color: yellow;
    border: 2px solid black;
    border-radius: 8px;
    width: 300px;
    height: auto;
    padding-left: 10px;
}
/*Stick man image for fun*/
#stick-man {
    float: right;
    max-width: 200px;
    height: 300px;
    margin-right: 120px;
    margin-top: 100px;
}
img {
    width: 100%;
    height: auto;
}
ul {
    color: black;
}
#good-luck {
    font-size: 16px;
    text-transform: uppercase;
    color: red;
    font-weight: 700;
}
/* background image of blue marble*/
#backgroundimage {
    background-image: url(https://cdn.pixabay.com/photo/2021/02/09/16/56/marble-5999144_960_720.jpg);
}
/* responsive design - smaller than desktop */
@media screen and (max-width: 950px) {
#instructions {
    float: unset;
    margin: auto;
    margin-top: 20px;
  }
  #stick-man {
      display: none;
  }
}
/* responsive design - smaller than 450px */
@media screen and (max-width: 450px) {
#game-name {
    width: 260px;
     font-size: 20px;
}
.mini-tile {
    width: 30px;
    height: 20px;
    padding-top: 5px;
    border-radius: 6px;
}
#instructions {
    float: unset;
    margin: auto;
    margin-top: 20px;
  }
  #stick-man {
      display: none;
  }
  .tile {
    height: 30px;
    width: 30px;
    border-radius: 6px;
}
#bigU {
    margin-left: 40px;
}
#bigT {
    margin-left: 80px;
}
#bigR {
    margin-left: 120px;
}
#big-U {
    margin-left: 160px;
}
#bigN {
    margin-left: 200px;
}
#big-arrow {
    margin-left: 240px;  
}
#instructions {
    font-size: 12px;
    width: 260px;
}
.tile {
    height: 30px;
    width: 30px;
    border-radius: 6px;
}
.link {
  height: 8px;
  width: 8px;
  border-radius: 0px;
}
.link-vr {
  height: 12px;
  width: 8px;
  border-radius: 0px;
  margin-left: 225px;
}
.link-vl {
  height: 12px;
  width: 8px;
  border-radius: 0px;
  margin-left: 40px;
}
#first-row {
  height: 30px;
  width: 220px;
}
#second-row {
  height: 30px;
  width: 220px;
}
#third-row {
  height: 30px;
  width: 220px;
}
#fourth-row {
  height: 30px;
  width: 220px;
}
#fifth-row {
  height: 30px;
  width: 220px;
  margin-bottom: 20px;
}
.label {
  position: absolute;
  margin: 1px;
  font-size: 8px;
}
.fa-question {
    font-size: 10px;
}
.number-large {
  display: none;
}
#sequence {
    width: 260px;
    height: 30px;
    float: unset;
}
#answer {
    width: 240px;
}
#answer-box {
  height: 30px;
  width: 250px;
  font-size: 18px;
  margin-top: 120px;
}

.click-tile {
  height: 30px;
  width: 30px;
  margin-left: 15px;
  margin-top: 15px;
}
.click-tile-answer {
  border: 2px solid black;
  margin-left: 5px;
  margin-top: 20px;
  float: left;
  border-radius: 5px;
  width: 15px;
  height: 15px;
}

.click_t {
    height: 30px;
  width: 70px;
  margin-left: 5px;
  margin-top: 15px;
  margin: auto;
  border-radius: 8px;
  border: 2px solid black;
}
}
@media screen and (min-width: 450px) {
.number-small {
  display: none;
}
}