#game-name {
  font-size: 32px;
  font-weight: 900;
  width: 360px;
  height: 40px;
  margin: auto;
  position: relative;
}
.mini-tile {
    width: 40px;
    height: 30px;
    float: left;
    border: 2px solid black;
    border-radius: 8px;
    position: absolute;
    padding-bottom: 3px;
    
}
#bigO {
    color: red;
    background-color: yellow;
    margin-left: 0px;
    text-align: center;
    padding-top: 10px;
}
#bigU {
    color: blue;
    background-color: yellow;
    margin-left: 50px;
    text-align: center;
    padding-top: 10px;
}
#bigT {
    color: green;
    background-color: yellow;
    margin-left: 100px;
    text-align: center;
    padding-top: 10px;
}
#bigR {
    color: red;
    background-color: yellow;
    margin-left: 150px;
    text-align: center;
    padding-top: 10px;
}
#big-U {
    color: blue;
    background-color: yellow;
    margin-left: 200px;
    text-align: center;
    padding-top: 10px;
}
#bigN {
    color: green;
    background-color: yellow;
    margin-left: 250px;
    text-align: center;
    padding-top: 10px;
}
#big-arrow {
    margin-left: 300px; 
    padding-top: 10px;  
}
#play {
    height: 40px;
    width: 60px;
    margin: auto;
    margin-top: 10px;
    background-color: lightgreen;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 5px;
    text-transform: uppercase;
    border: 2px solid black;
}
#games-played {
    height: 10px;
    width: 200px;
    margin: auto;
    margin-bottom: 10px;
}
#main-board {
    margin: auto;
    
}
.tile {
  height: 40px;
  width: 40px;
  border-radius: 8px;
  border: 2px solid black;
  position: relative;
  float: left;
  background-color: white;
}
.number {
  position: absolute;
  bottom: 0px;
  right: 0px;
}
.label {
  position: absolute;
  margin: 2px;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 700;
}
.link {
  height: 10px;
  width: 10px;
  border-radius: 0px;
  background-color: black;
  margin-top: 15px;
}
.link-vertical {
  margin: auto;
  width: 280px;
  height: 15px;
  position: relative;
}
.link-vr {
  height: 15px;
  width: 10px;
  border-radius: 0px;
  background-color: black;
  position: absolute;
  margin-left: 245px;
}
.link-vl {
  height: 15px;
  width: 10px;
  border-radius: 0px;
  background-color: black;
  position: absolute;
  margin-left: 15px;
}
#first-row {
  height: 40px;
  width: 280px;
  margin: auto;
}
#second-row {
  height: 40px;
  width: 280px;
  margin: auto;
}
#second-row .main-tile{
    float: right;
}
#second-row .link {
    float: right;
}
#third-row {
  height: 40px;
  width: 280px;
  margin: auto;
}
#fourth-row {
  height: 40px;
  width: 280px;
  margin: auto;
}
#fourth-row .main-tile{
    float: right;
}
#fourth-row .link {
    float: right;
}
#fifth-row {
  height: 40px;
  width: 280px;
  margin: auto;
}
.far {
  background-color: yellow;
}
#sequence {
    width: 400px;
    height: 40px;
    margin: auto;
    margin-top: 10px;
}
#answer {
  width: 400px;
  height: 40px;
    margin: auto;
    margin-top: 10px;
}
.click-tile {
  height: 40px;
  width: 40px;
  border-radius: 8px;
  border: 2px solid black;
  margin-left: 10px;
  margin-top: 20px;
  float: left;
}
#one {
  background-color: red;
}
#two {
  background-color: blue;
}
#three {
  background-color: green;
}
#four {
  background-color: yellow;
}
#tap-sequence {
  width: 120px;
  padding-top: 10px;
  height: 30px;
  text-align: center;
  background-color: white;
}
#your-answer {
  width: 120px;
  padding-top: 10px;
  height: 30px;
  text-align: center;
  position: relative;
  background-color: white;
}
#answer-one {
    font-size: 0;
    background-color: white;
}
#answer-two {
    font-size: 0;
    background-color: white;
}
#answer-three {
    font-size: 0;
    background-color: white;
}
#answer-four {
    font-size: 0;
    background-color: white;
}
#your-ans {
    font-size: 0;
}
#answer-box {
  height: 35px;
  width: 350px;
  text-align: center;
  font-size: 24px;
  color: purple;
  float: none;
  margin: auto;
  border: 2px solid black;
  border-radius: 8px;
  position: absolute;
  margin-top: 100px;
  padding-top: 5px;
  background-color: white;
}
#instructions {
    float: left;
    font-size: 18px;
    color: red;

}
#stick-man {
    float: right;
    max-width: 200px;
    height: 300px;
    margin-right: 120px;
    margin-top: 100px;
}
img {
    width: 100%;
    height: auto;
}
ul {
    color: blue;
}
#backgroundimage {
    background-image: url(https://cdn.pixabay.com/photo/2021/02/09/16/56/marble-5999144_960_720.jpg);
}